<form>

  <button mat-icon-button *ngIf="!autocomplete" (click)="backTriggered.emit()">

    <mat-icon aria-label="Retour">arrow_back</mat-icon>

  </button>

  <input class="auto-focus" placeholder="Rechercher un film" aria-label="Films"
         [matAutocomplete]="auto" [formControl]="movieCtrl">

    <mat-autocomplete #auto="matAutocomplete" [hidden]="!autocomplete">
      <mat-option *ngFor="let movie of filteredMovies| async" [value]="movie.Title" (click)="selectedMovie.emit(movie)">
        <img [src]="movie.Poster === 'N/A' ? 'assets/img/poster-not-found.jpg' : movie.Poster" height="25">
        <span class="title-font">{{movie.Title}}</span> | <small class="gender-font">{{movie.Type}}</small>
      </mat-option>
    </mat-autocomplete>

</form>
