@import '~@angular/material/theming';
@import 'src/mat-theme.scss';

:host{
  display: block;
  position: relative;
  width: 100%;
}

form {
  min-width: 150px;
  width: 100%;
}

img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl']img {
  margin-right: 0;
  margin-left: 8px;
}

[mat-icon-button]{
  position: absolute;
  height: 60px;
  color: $movie-app-color;
}


