<div class="container display-f f-dir-col ovf-hidden">

  <div class="header-container flex-fix">

    <button mat-icon-button [routerLink]="['/movies']">

      <mat-icon aria-label="Retour">arrow_back</mat-icon>

    </button>

  </div>

  <mat-card class="flex-auto">
    <img mat-card-image [src]="(detailInfo | async)?.Poster" alt="Photo of a Shiba Inu">
    <mat-card-content>

      <p class="heading-font">Titre</p>
      <p>{{(detailInfo | async)?.Title}}</p>

      <p class="heading-font">Actors</p>
      <p>{{(detailInfo | async)?.Actors}}</p>

      <p class="heading-font">Sortie</p>
      <p>{{(detailInfo | async)?.Released}}</p>

      <p class="heading-font">Description</p>
      <p>{{(detailInfo | async)?.Plot}}</p>
    </mat-card-content>
  </mat-card>

</div>
