<div class="container display-f f-dir-col ovf-hidden">

  <div class="header-container flex-fix">

    <button mat-icon-button [routerLink]="['/movies']">

      <mat-icon aria-label="Retour">arrow_back</mat-icon>

    </button>

  </div>

  <div class="flex-auto ovf-auto p-12">

    <mat-card>
      <img mat-card-image [src]="detailInfo?.Poster" alt="Photo of a Shiba Inu">
      <mat-card-content>

        <p class="heading-font">Titre</p>
        <p>{{detailInfo?.Title}}</p>

        <p class="heading-font">Actors</p>
        <p>{{detailInfo?.Actors}}</p>

        <p class="heading-font">Sortie</p>
        <p>{{detailInfo?.Released}}</p>

        <p class="heading-font">Description</p>
        <p>{{detailInfo?.Plot}}</p>
      </mat-card-content>
    </mat-card>

  </div>

</div>
