@import '~@angular/material/theming';
@import 'src/mat-theme.scss';

:host{
  position: relative;
  display: block;
  background-color: $movie-app-bg;
}

app-search-bar /deep/ input{
  min-width: 250px;
  padding: 0 12px;
  height: 40px;
  border: none;
  border-radius: 22px;
  box-shadow: 0 0 8px 0 rgba(125, 125, 125, 0.5);
  font-size: 14px;
  font-weight: bold;
  color: $black-light;
}

app-search-bar /deep/ input:focus{
  outline: none;
}

[mat-button].film-btn{
  height: 40px;
  border-radius: 8px;
  background-color: $movie-app-color;
  border: none;
  float: right;
  margin-right: 16px;
}

[mat-button].film-btn /deep/ .mat-button-wrapper {
  color: $white-87-opacity;
  text-transform: uppercase;
  font-weight: bold;
}

[mat-icon-button]{
  color: $movie-app-color;
}

.home-container {
  display: block;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.header-container{
  height: 10vh;
  width: 100vw;
}

.img-container{
  position: relative;
  height: 90vh;
}

.logo-container{
  width: 100vw;
  padding-left: 16px;
}

.list-btn-container {
  width: 140px;
}

.img-home{
  position: absolute;
  height: 90vh;
  width: 100vw;
  opacity: 0.7;
}

.logo-home{
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  color: $movie-app-color;
  text-transform: uppercase;
  text-align: left;
}

.heading-home {
  position: relative;
  text-align: center;
  width: 100vw;
  color: $white-87-opacity;
  margin: 0 0 .2em;
  line-height: 1.1em;
  font-weight: 700;
  text-shadow: 1px 1px 10px #000;
}

.sub-heading-home{
  position: relative;
  text-align: center;
  width: 100vw;
  color: $white-87-opacity;
  margin-bottom: 32px;
}

.input-container {
  position: relative;
  width: 80vw;
  max-width: 320px;
  margin: 0 auto;
}

.has-voted-txt{
  color: $white-87-opacity;
  text-align: center;
  font-size: 14px;
  margin-bottom: 8px;
}

.has-voted-link{
  color: $movie-app-color;
  text-align: center;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

@media screen and (max-width: 640px){
  .heading-home{
    font-size: 40px;
  }

  .sub-heading-home {
    font-size: 18px;
  }

  .logo-home {
    font-size: 24px;
  }
}

@media screen and (min-width: 641px){

  .heading-home{
    font-size: 60px;
  }

  .sub-heading-home {
    font-size: 24px;
  }

  .logo-home {
    font-size: 32px;
  }
}
