
<div *ngIf="displayedMovies?.length === 0" class="empty-card">

  <div class="empty-img-container">
    <img [src]="search.length < 3 ? 'assets/img/type.png' : 'assets/img/empty.png'" height="80px" width="80px">
  </div>

  <p class="empty-font">
    {{search.length < 3 ? 'Tapez au moins 3 caractères' : 'Aucun résultat ne correspond à votre recherche'}}</p>

</div>


<mat-card *ngFor="let movie of displayedMovies" class="movie-card" [routerLink]="['/movie/' + movie.imdbID]">
  <div class="display-f f-dir-row">


    <div class="flex-fix w-120">

       <img class="movie-pic" [src]="movie.Poster === 'N/A' ? 'assets/img/poster-not-found.jpg' : movie.Poster" height="120px" width="120px"/>

    </div>


    <div class="flex-auto detail-container">

      <p class="detail-title-font">{{movie?.Title}}</p>

      <p class="detail-type">{{movie?.Type}}</p>

    </div>

    <div class="flex-fix arrow">
      <mat-icon>chevron_right</mat-icon>
    </div>


  </div>

</mat-card>

<app-movie-list-loader [hasNoElements]="movies?.totalResults === 0" *ngIf="displayedMovies?.length !== 0"
                       [hasMoreElementsToLoad]="movies === null || movies?.totalResults > displayedMovies?.length"
                       [elementsLoaded]="movies !== null"></app-movie-list-loader>





