@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$movie-app-primary: mat-palette($mat-brown);
$movie-app-accent:  mat-palette($mat-red, A200, A100, A400);
$movie-app-warn:  mat-palette($mat-orange, A200, A100, A400);
$movie-app-bg: #000;
$movie-app-color: #e50914;

$black-light: #505050;
$grey-light: #eeeeee;

$movie-app-theme:   mat-light-theme($movie-app-primary, $movie-app-accent, $movie-app-warn);



// Include the default theme styles.
@include angular-material-theme($movie-app-theme);
